.btn {
  border-radius: 4px;
  border: 2px solid #000;
  padding: 12px 14px;
  color: #fff;
  background-color: #ff002fd1;
  font-weight: bolder;
  font-size: 14px;
  font-family: 'Federo', sans-serif;
}
.addFavorite {
  margin-right: 0;
  margin-left: 0;
  background-color: lavender;
}
.search {
  border: none;
  border-radius: 6px;
  width: 60%;
  padding: 10px;
  margin-right: 10px;
  margin-top: 15px;
  font-family: 'Quicksand', sans-serif;
}

.result {
  margin: 0px;
  background-color: indianred;
}

.star {
  margin-top: 0.4em;
  font-size: 2em;
  color: #D50000;
}
.starFav {
  color: #D50000;
}

.pokemonFav {
  background-color: seashell;
  height: 88.6vh;
}
.findPoke {
  margin-top: 1.5em;
}
.searchResults {
  height: 63.5vh;
  background-color: #dadadae3;
  overflow: auto;
}
.items {
  font-family: 'Quicksand', sans-serif;
}

.favorite {
  font-family: 'Quicksand', sans-serif;
}
.btnFav {
  border-radius: 4px;
  border: 2px solid #000;
  padding: 12px 14px;
  color: #fff;
  background-color: #ff002fd1;
  font-weight: bolder;
  font-size: 14px;
  font-family: 'Federo', sans-serif;
}

.cartas {
  column-count: 2;
}

.resultcartas {
  column-count: 2;
}


@media (max-width: 750px) {
  .cartas {
    column-count: 1;
  }
  .resultcartas {
    column-count: 1;
  }
  
}


.pokeCards{
  margin-bottom: 29px;
  padding-top: 25px;
}

.addFavorite {
  margin-right: 0;
  margin-left: 0;
  background-color: lavender;
}