.btn {
  border-radius: 4px;
  border: 2px solid #000;
  padding: 12px 14px;
  color: #fff;
  background-color: #ff002fd1;
  margin-top: 3.7em;
  font-weight: bolder;
  font-size: 14px;
  font-family: 'Federo', sans-serif;
}

.search {
  border: none;
  border-radius: 6px;
  width: 60%;
  padding: 10px;
  margin-right: 10px;
  margin-top: 15px;
  font-family: 'Quicksand', sans-serif;
}

.result {
  margin: 0px;
  background-color: indianred;
}

.star {
  margin-top: 0.4em;
  font-size: 2em;
  color: #D50000;
}

.pokemonFav {
  background-color: seashell;
  height: 100vh;
}
.findPoke {
  margin-top: 1.5em;
}
.searchResults {
  height: 100vh;
  background-color: #dadadae3;
}
.items {
  font-family: 'Quicksand', sans-serif;
}

.favorite {
  font-family: 'Quicksand', sans-serif;
}
